---
// Destructure props from Astro.context (Astro.props)
// import { Image } from 'astro:assets';
import { CldImage } from 'astro-cloudinary';


const { src, alt = 'Inserted Image', height, width } = Astro.props;
---

<!-- Render the image if src is provided -->
<div>
  {src ? (
    <CldImage
      src={src}
      alt={alt}
      width={width}
      height={height}
    />
  ) : (
    <p>No image provided</p>
  )}
</div>