---
// Destructure props from Astro.context (Astro.props)
const { src, alt = 'Inserted Image', width = 150, height = 150 } = Astro.props;
import { Image } from 'astro:assets';
//import { CldImage } from 'astro-cloudinary'; // Cloudinary image component
---

<!-- Render the image if src is provided -->
<div>
  {src ? (
    <Image
      src={src}
      alt={alt}
      width={width}
      height={height}
    />
  ) : (
    <p>No image provided</p>
  )}
</div>


